/* Header.css */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333333   ; /* Color de fondo */
    color: rgb(8, 8, 8); /* Color del texto */
    padding: 10px 20px; /* Espaciado interno */
    position: fixed; /* Make the header sticky */; /* Hacer que la barra sea flotante */
    top: 2%; /* Posición en la parte superior */
    left: 2%; /* Alinear a la izquierda */
    right: 2%; /* Alinear a la derecha */
    border-radius: 50px; /* Bordes redondos */
    z-index: 1000; /* Asegurarse de que esté encima de otros elementos */
}

.sticky {
    background-color: #55555585; /* Change background color when sticky */
}

.logo {
    font-size: 1.5em; /* Tamaño del logo */
}

.nav ul {
    list-style: none; /* Eliminar viñetas */
    display: flex; /* Hacer que los elementos sean horizontales */
    margin: 0; /* Eliminar márgenes */
    padding: 0; /* Eliminar padding */
}

.nav li {
    margin-left: 20px; /* Espaciado entre los elementos */
}

.nav a {
    color: white; /* Color del texto de los enlaces */
    text-decoration: none; /* Eliminar subrayado */
    padding: 5px 10px; /* Espaciado interno de los enlaces */
    border-radius: 5px; /* Bordes redondos en los enlaces */
    transition: background-color 0.3s; /* Transición suave para el hover */
}

.nav a:hover {
    background-color: #555; /* Color de fondo al pasar el ratón */
}

.logo img {
    height: 40px; /* Ajusta la altura según tus necesidades */
    width: auto; /* Mantiene la proporción de la imagen */
}

@media (max-width: 768px) {
    .container {
        flex-direction: column; /* Stack elements vertically on small screens */
    }
}