/* MainContent.css */
.main-content {
    background-size: cover; /* Hace que la imagen cubra toda la pantalla */
    background-position: center; /* Centra la imagen */
    height: 130vh; /* Altura de 100% de la ventana del navegador */
    display: flex; /* Usar flexbox para centrar el contenido */
    justify-content: center; /* Centrar horizontalmente */
    align-items: center; /* Centrar verticalmente */
    color: white; /* Color del texto */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Sombra para el texto */
    position: relative; 
}   
@media (max-width: 768px) {
    .container {
        flex-direction: column; /* Stack elements vertically on small screens */
    }
}